<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Đăng Nhập</title>
<style>
.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
</style>

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	
</head>
<body>

	<!-- create navigation bar 
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/login}">Đăng nhập</a>
			</div>
		</div>
	</nav>
	
	<br>
	<br>
	( header) -->
	
	<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
				
				<div class="mb-md-5 mt-md-4 pb-5">
				
				<h1>Đăng nhập</h1>
				<form th:action="@{/login}" method="post">
					
					<!-- error message -->
					<div th:if="${param.error}">
						<div class="alert alert-danger">Sai tài khoản hoặc mật khẩu.</div>
					</div>
				
					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-info">Bạn đã đăng xuất.</div>
					</div>
					
					<div class = "form-group">
						<label for ="username"> Tài khoản </label> :
						<input type="text" class = "form-control" id ="username" name = "username"
						placeholder="Vui lòng nhập tài khoản" autofocus="autofocus">
					</div>
					
					<div class="form-group">
						<label for="password">Mật khẩu</label>: <input type="password"
							id="password" name="password" class="form-control"
							placeholder="Vui lòng nhập mật khẩu" />
					</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3 ">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-success text-dark" value="Đăng nhập" />
							</div>
						</div>
					</div>
				</form>
				<div class="form-group">
						<span>Bạn chưa có tài khoản? <a href="/" th:href="@{/registration}">Đăng ký ngay</a></span>
	</div>

	</div>
	
	</div>
	</div>
	</div>
	</div>
	</div>
	</section>
</body>
</html>